.nav1{
    position: absolute;
    top: 40px;
    left: 163px;
    width: calc((100vw - 280px));
    display: flex;
    font-size: 20px;
}
.userpage{
    position: relative  ;
    &-title{
        padding-left: 18%;
    }
    &-btn{
        margin-left: 20%;
    }
    &-form{
        margin-top: 5%;
    }
}
.xxx{
    margin-left: 36.5%;
}